packages:
  yum:
    mod_ssl : []

Parameters:
  S3ConfigBucket:
    Type: "String"
    Default:
        "Fn::GetOptionSetting":
           Namespace: "aws:elasticbeanstalk:application:environment"
           OptionName: S3_CONFIG_BUCKET
           DefaultValue: "no-s3-config-bucket-set"

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets:
            - Ref: S3ConfigBucket
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "no-iam-instance-profile-set"
    
files:
  "/etc/pki/tls/certs/server.crt":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: { "Fn::Join" : [ "", [ "https://", { "Ref" : "S3ConfigBucket" }, ".s3.amazonaws.com/server.crt"] ] }

  "/etc/pki/tls/certs/server.key":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: { "Fn::Join" : [ "", [ "https://", { "Ref" : "S3ConfigBucket" }, ".s3.amazonaws.com/server.key"] ] }

  "/etc/pki/tls/certs/ca_bundle.crt":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: { "Fn::Join" : [ "", [ "https://", { "Ref" : "S3ConfigBucket" }, ".s3.amazonaws.com/ca_bundle.crt"] ] }
