packages:
  yum:
    mod_ssl : []

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["${s3.config.bucket}"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "${iam.role}"
    
files:
  "/etc/pki/tls/certs/server.crt":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.amazonaws.com/${s3.config.bucket}/duracloud.org.crt
      
  "/etc/pki/tls/certs/server.key":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.amazonaws.com/${s3.config.bucket}/duracloud.org.key

  "/etc/pki/tls/certs/gd_bundle.crt":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.amazonaws.com/${s3.config.bucket}/gd_bundle.crt

container_commands:
  000_copy_application:
     command: "cp .ebextensions/elasticbeanstalk.conf /etc/httpd/conf.d/elasticbeanstalk.conf"
  001_copy_ssl:
     command: "cp .ebextensions/ssl.conf /etc/httpd/conf.d/ssl.conf"
  002_restart_httpd:
     command: "sudo service httpd start; sudo service httpd restart;"
