commands: 
  01-get_file:
    command: "aws s3 cp s3://${S3_CONFIG_BUCKET}/sumo.conf /etc/sumo.conf; chmod ugo+rx /etc/sumo.conf;"
    env:
      S3_CONFIG_BUCKET: 
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: S3_CONFIG_BUCKET
  02-create_bridge_log_dir:
    command: "mkdir -p ${bridge.log.dir}; chown -R tomcat:tomcat ${bridge.log.dir};"
